client-app-sample/client-svc-jaxb/src/xsd/AustraliaPostalCodeService-xsd2.svc.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://www.restfulwebservices.net/DataContracts/2008/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.restfulwebservices.net/DataContracts/2008/01"><xs:complexType name="PostalCode"><xs:sequence><xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="PlaceName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="AdministrationNameFirst" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="AdministrationCodeFirst" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="AdministrationNameSecond" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="AdministrationCodeFirstSecond" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="AdministrationNameThird" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="PostalCode" nillable="true" type="tns:PostalCode"/></xs:schema>